@model Transformer.Models.BalUser

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>OneSchool &mdash; Website by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/theme/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/theme/css/jquery-ui.css">
    <link rel="stylesheet" href="~/theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/theme/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/theme/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/theme/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/theme/css/aos.css">

    <link rel="stylesheet" href="~/theme/css/style.css">

</head>
<body>
    <meta name="viewport" content="width=device-width" />



    <script src="~/theme/js/jquery-3.3.1.min.js"></script>
    <script src="~/theme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/theme/js/jquery-ui.js"></script>
    <script src="~/theme/js/popper.min.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    <script src="~/theme/js/owl.carousel.min.js"></script>
    <script src="~/theme/js/jquery.stellar.min.js"></script>
    <script src="~/theme/js/jquery.countdown.min.js"></script>
    <script src="~/theme/js/bootstrap-datepicker.min.js"></script>
    <script src="~/theme/js/jquery.easing.1.3.js"></script>
    <script src="~/theme/js/aos.js"></script>
    <script src="~/theme/js/jquery.fancybox.min.js"></script>
    <script src="~/theme/js/jquery.sticky.js"></script>


    <script src="~/theme/js/main.js"></script>

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-25"> @Html.ActionLink("Transformer", "Admin")</div>

                    <div class="mx-auto text-center">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                                <li>
                                    @Html.ActionLink("Add New User ", "Login", new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Logout", "Login", new { @class = "nav-link" })
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>

        </header>

        <div class="intro-section" id="home-section">

            <div class="slide-1" style="background-image: url('theme/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">

                    </div>
                </div>
            </div>
        </div>





    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="width:60%;padding-left:20%">
            <h4>Create User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create User" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>
